@import url('https://db.onlinewebfonts.com/c/69926ed34c8ebb39bae0db55413f0861?family=Mutant+Academy+BB');

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  display: flex;
  height: 100%;
  width: 100%;
  /*background-image: url('assets/img/fundo-textura-vermelho.jpg');*/
  background-color: '#fff';
}